.calculator {
    width: 500px;
    padding: 30px;
    background-color: rgb(176, 199, 244);
    border-radius: 10px;
  
}

.container {
    align-items: center;
    justify-content: center;
}


.calculator label {
    display: block;
    margin-top: 30px;
}

.calculator input[type="number"] {
    width: 55%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-weight: bolder;
    font-size: medium;
    color: blue;
}
.calculator select {
    width: 60%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid blue;
    font-weight: bolder;
    font-size: medium;
    color: blue;
}

.calculator input[type="range"] {
    width: 58%;
}

.calculator #rate-value {
    display: inline-block;
    margin-left: 20px;
    font-size: larger;
    font-weight: bolder;
    color: blue;
}

.calculator button {
    width: 60%;
    padding: 10px;
    background-color: #30ae69;
    color: rgb(255, 255, 255);
    border: none;
    font-weight: bolder;
    font-size: large;
    border-radius: 15px;
    margin-top: 20px;
    cursor: pointer;
}

.calculator button:hover {
    background-color: rgb(108, 138, 244);
}

.calculator #result {
    margin-top: 20px;
    font-weight: bolder;
    font-family: arial;
    font-size: large;
    font-weight: bolder;
    color: rgb(26, 18, 172);
}

.heading_container h2 {
    font-weight: bold;
    position: relative;
  }
  
  /* .heading_container h2::before {
    content: "";
    position: absolute;
    bottom: -6px;
    left: 50%;
    width: 75px;
    height: 5px;
    background-color: #30ae69;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
  } */
